<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
    <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>
    <property name="hibernate.connection.url">jdbc:derby://localhost:1527/sample</property>
    <property name="hibernate.connection.username">app</property>
    <property name="hibernate.connection.password">app</property>
    <mapping resource="herudi/model/Customer.hbm.xml"/>
    <mapping resource="herudi/model/PurchaseOrder.hbm.xml"/>
    <mapping resource="herudi/model/DiscountCode.hbm.xml"/>
    <mapping resource="herudi/model/ProductCode.hbm.xml"/>
    <mapping resource="herudi/model/Manufacturer.hbm.xml"/>
    <mapping resource="herudi/model/MicroMarket.hbm.xml"/>
    <mapping resource="herudi/model/Product.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
